{:paths ["src" "test"]
 :deps {io.github.kotoba-lang/io-ipld
        {:git/url "https://github.com/kotoba-lang/io-ipld.git"
         :git/sha "a3c62aed7fb281648372807e93a36e342f2cceb3"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd6605cb6c0efc275e1df1736f6e90d4d73"}}
                  :main-opts ["-m" "cognitect.test-runner"]}
           ;; clj-kondo as a Clojars lib (no Homebrew/system install needed).
           :lint {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2024.11.14"}}
                  :main-opts ["-m" "clj-kondo.main" "--lint" "src" "test"
                              "--fail-level" "error"]}
           :kotoba {:replace-paths ["src"]
                    :replace-deps {io.github.kotoba-lang/amu
                                   {:git/url "https://github.com/kotoba-lang/amu.git"
                                    :git/sha "def5161be96d489539175813326a316da46268be"}}
                    :main-opts ["-m" "kotoba.compiler.cli"]}}}
